body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}


#input-sections {
    display: none
}

html {
    animation-timing-function: ease;
}

body {
    animation-timing-function: ease;
}
